In [1]:
!pip install mysql-connector.python

Requirement already satisfied: mysql-connector.python in c:\users\shrin\anaconda3\lib\site-packages (9.2.0)

In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\shrin\anaconda3\lib\site-packages (1.1.1)

In [9]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    port = 3307
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002302C8B2330>

In [11]:
dbcursor = db.cursor()
#exexute databese query
dbcursor.execute("create database if not exists booklist")

In [15]:
dbcursor.execute("show databases")

In [17]:
for i in dbcursor:
    print(i)

('assignment_schema',)
('booklist',)
('countries',)
('customer_orders',)
('emp',)
('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('temp_schema',)

# Create Table

In [22]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    port = 3307,
    database = 'booklist'
)

In [26]:
dbcursor = db.cursor()
dbcursor.execute("create table if not exists booklist.bookdetail \
(rating int(20),book varchar(40),price decimal(16,2))")
dbcursor.execute("show tables")

for i in dbcursor:
    print(i)

('bookdetail',)

In [32]:
dbcursor.execute("insert into bookdetail values(5,'abcd',100)")

In [36]:
dbcursor.execute("select * from bookdetail")
for i in dbcursor:
    print(i)

(4, 'power of subconcious mind', Decimal('99.00'))
(3, 'Attitude is Everthing', Decimal('50.00'))
(5, 'Rich dad poor dad', Decimal('149.00'))
(5, 'abcd', Decimal('100.00'))

In [ ]:
form = "Insert into bookdetail(rating,book,price)\
            values (%s,%s,%s)"
data = [(4,"power of subconcious mind",99),
        (3,"Attitude is Everthing",50),
        (5,"Rich dad poor dad",149)]

dbcursor.executemany(form,data)
db.commit()

In [38]:
dbcursor.execute("delete from bookdetail where rating=5")

In [40]:
dbcursor.execute("update bookdetail set price=5000 where book='abcd'")

In [42]:
dbcursor.execute("commit")

# read data from table

In [45]:
dbcursor = db.cursor()
dbcursor.execute("select book from bookdetail")
result = dbcursor.fetchall()
for i in result:
    print(i)

('power of subconcious mind',)
('Attitude is Everthing',)