In [15]:
a=int(input("Enter number1:"))
b=int(input("Enter number2:"))
c=int(input("Enter number3:"))

if(a>b):
    print(f"{a} Is Greater")
elif(b>c):
    print(f"{b} Is Greater")
else:
    print(f"{c} Is Grester")

Enter number1: 20
Enter number2: 30
Enter number3: 50

50 Is Grester

In [33]:
n=int(input("Enter the count of units:"))
cost=0
r=n
if(n<=200):
    cost=0
else:
    r=r-200
    if r>=300:
        cost=cost+(300*8)
        r=r-300
        if r>=500:
            cost=cost+(500*11)
            r=r-500
            if r>0:
                cost=cost+(r*14)
        else:
            cost=cost+(r*11)
    else:
        cost=cost+(r*8)
print(cost)

Enter the count of units: 3550

43600

In [37]:
income=int(input("Enter Total amount:"))
savings=int(input("Enter savings:"))
tax=0

if savings<200000:
    income=income-savings
else:
    income=income-200000
r=income
if income<=1000000:
    tax=tax+((10*income)/100)
else:
    income=income-1000000
    tax=tax+((10*1000000)/100)
    if income>=1200000:
        tax=tax+((20*1200000)/100)
        income=income-1200000
        tax=tax+((30*income)/100)
print(tax)

Enter Total amount: 4500000
Enter savings: 150000

985000.0

In [55]:
Amount=int(input("Enter the amount:"))
interest=0
if Amount<=1000000:
    interest=interest+((10*Amount)/100)
else:
    Amount=Amount-1000000
    interest=interest+((10*1000000)/100)
    if Amount>1500000:
        Amount=Amount-1500000
        interest=interest+((15*1500000)/100)
        interest=interest+((30*Amount)/100)
print(interest)

Enter the amount: 6500000

1525000.0

In [57]:
n=int(input("Enter no:"))

if n%2==0:
    print("Even")
else:
    print("odd")

Enter no: 4

Even

In [95]:
n=int(input("Enter no:"))
flag=0
if(n==1 and n==0):
    flag=1
for i in range(2,n):
    if(n%i==0):
        flag=1
if(flag==1):
 print("not prime")
else:
 print("prime")

Enter no: 67

prime

In [103]:
n=int(input("Enter no"))
fact=1
if(n==1 and n==0):
   fact=1
for i in range(2,n+1):
    fact=fact*i
print(fact)

Enter no 5

120

In [105]:
n=int(input("Enter no:"))
a=0
print(a)
b=1
print(b)
for i in range(2,n+1):
    c=a+b
    print(c)
    a=b
    b=c

Enter no: 5

0
1
1
2
3
5

In [107]:
List=[3,6,7,9,4,7,2,1]
List.sort()
List

[1, 2, 3, 4, 6, 7, 7, 9]

In [109]:
List.sort(reverse=True)

In [111]:
List

[9, 7, 7, 6, 4, 3, 2, 1]

In [143]:
Str="Walchand institute of technology solapur"

In [147]:
print(Str[::-1])

rupalos ygolonhcet fo etutitsni dnahclaW

In [155]:
print(Str[0::2])

Wlhn nttt ftcnlg oau

In [159]:
print(Str[1::2])

acadisiueo ehooyslpr

In [163]:
print(Str.split())

['Walchand', 'institute', 'of', 'technology', 'solapur']

In [183]:
Count =0 
for i in Str:
    Count += 1

print("Number of characters:",Count)

Number of characters: 40

In [185]:
c=0
for i in Str:
    if i=='a' or i=='e' or i=='o'or i=='i'or i=='u'or i=='A'or i=='E'or i=='I'or i=='O'or i=='U':
        c=c+1
print(c)

13

In [5]:
Mlist = [3, 1, 4, 1, 5, 9, 2, 6, 5]

n = len(Mlist)
for i in range(n):
    for j in range(0, n-i-1):
        if Mlist[j] > Mlist[j+1]:
            Mlist[j], Mlist[j+1] = Mlist[j+1], Mlist[j]

print(Mlist)

[1, 1, 2, 3, 4, 5, 5, 6, 9]

In [13]:
n=len(Mlist)
for i in range(n):
    for j in range(0,n-i-1):
        if Mlist[j] < Mlist[j+1]:
            Mlist[j], Mlist[j+1] = Mlist[j+1], Mlist[j]

print(Mlist)

[9, 6, 5, 5, 4, 3, 2, 1, 1]

In [15]:
S="Walchand Institute of Technology,Solapur,Maharashtra"

In [21]:
#Reversed
Reversed_S = ""

for char in S:
    Reversed_S = char + Reversed_S

print(Reversed_S)

arthsarahaM,rupaloS,ygolonhceT fo etutitsnI dnahclaW

In [5]:
S1 = "Hello World! This is Python."
delimiter = " "
result = []
current_word = ""

for char in S1:
    if char == delimiter:
        result.append(current_word)
        current_word = ""
    else:
        current_word += char

if current_word:
    result.append(current_word)

print(result)

['Hello', 'World!', 'This', 'is', 'Python.']